
        <div id="code-layout" style="height:100%;background-color:white;display:none" >
          
          <div id="code-html">
          	
          </div>
          <div id="code-css">
          	
          </div>
          <div id="code-javascript">
          	
          </div>
        </div>
