    <div id="components_tab" style="">
      <div id="navcontainer">
<ul id="navlist">


  <li>
    <div class="component" data-category="header">
      Page Header
      <br/>
      <img src="/icons/header.png" height="40px"/> 
    </div>
  </li>
<!--
  <li>
    <div class="component" data-category="footer">
      Page Footer
      <br/>
      <img src="/icons/footer.png" height="40px"/>  
    </div>
  </li> -->
  <li>
    <div class="component" data-category="tabbed_footer">
       Footer
      <br/>
      <img src="/icons/tabbed_footer.png" height="40px"/>  
    </div>
  </li>
  <li>
    <div class="component" data-category="navbar">
      Navbar
      <br/>
      <img src="/icons/navbar.png" height="40px"/>  
    </div>
  </li>


  <li>
    <div class="component" data-category="button">
      Button
      <br/>
      <img src="/icons/button.png" height="40px"/>  
    </div>
  </li>
  


  <li>
    <div class="component" data-category="panel">
      Panel
      <br/>
      <img src="/icons/panel.png" height="40px"/>  
    </div>
  </li>

  <li>
    <div class="component" data-category="link">
      Link
      <br/>
      <img src="/icons/link.png" height="40px"/> 
    </div>
  </li>
  
  <li>
    <div class="component" data-category="image">
      Image
      <br/>
      <img src="/icons/image.png" height="40px"/> 
    </div>
  </li>

  <li>
    <div class="component" data-category="youtube">
      Video
      <br/>
      <img src="/icons/video.png" height="40px"/>  
    </div>
  </li>


  <li>
    <div class="component" data-category="map">
      Map
      <br/>
       <img src="/icons/map.png" height="40px"/> 
    </div>
  </li>
  <li>
    <div class="component" data-category="heading">
      Heading Text
      <br/>
      <img src="/icons/heading.png" height="40px"/> 
    </div>
  </li>
    <li>
  <div class="component" data-category="text">
      Normal Text
      <br/>
      <img src="/icons/text.png" height="40px"/> 
    </div>
  </li>

  <li>
    <div class="component" data-category="html">
      Html
      <br/>
      <img src="/icons/html.png" height="40px"/> 
    </div>
  </li>

  <li>
    <div class="component" data-category="list">
      List
      <br/>
      <img src="/icons/list.png" height="40px"/> 
    </div>
  </li>


</ul>
</div>  
    </div>

