<style type="text/css">
  .form-control {
    font-size:12px;
    line-height:12px;
    padding:4px;
    height:auto;
    border-radius:3px;
  }
  .form-horizontal .form-group  label {
    padding-top:3:px;
    line-height:100%;
  }
</style>
<div ng-repeat="page in appData['app']['pages']">
  
  <!-- render the header if it exists --> 
    <div ng-repeat="member in page['members']">
        <div ng-if="member['uniq_id'] == activeComponent">
          <div class="component_editor_header" style="width:100%;background-color:#DDD;padding:5px;font-size:16px">
            {{member['bgtype']|fieldCapitalize}} <i class="fa fa-question-circle"></i>
          </div>
          <div class="component_editor_form" style="padding:10px; padding-top:20px;">
            <form class="form-horizontal" style="font-size:12px">
              <!-- id -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Id</label>
                <div class="col-sm-9">
                  <input class="form-control" ng-model="member.id">
                </div>
              </div>
              <!-- class -->
              <div class="form-group">
                <label class="col-sm-3 control-label">Class</label>
                <div class="col-sm-9">
                  <input class="form-control" ng-model="member.klass">
                </div>
              </div>
              <!-- conditionals if type header -->
              <div class="form-group" ng-if="member['bgtype'] == 'header'">
                <label class="col-sm-3 control-label">Text</label>
                <div class="col-sm-9">
                  <input class="form-control" ng-model="member.text">
                </div>
              </div>

            </form>
          </div>
        </div>
    </div>

   <!--
   <div class="component_editor_header" style="width:100%;background-color:#DDD;padding:5px;font-size:16px">
      Image <i class="fa fa-question-circle"></i>
   </div>
   <div class="component_editor_form" style="padding:10px; padding-top:20px;">
    <form class="form-horizontal" style="font-size:12px">
      <div class="form-group">
        <label for="inputEmail3" class="col-sm-3 control-label">Background Image</label>
        <div class="col-sm-9">
          <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
        </div>
      </div>
    </form>
   </div>
   -->
</div>
