  <div style="text-align:center;padding-top:15px">
  	<button ng-click="insertPage()" class="btn btn-sm"><i class="fa fa-plus"></i> &nbsp; Add Screen</button>
  </div>
  <div id="undo_controls">
  	<div class="btn-group">
		<button toggle-layout-east  type="button" class="btn btn-sm btn-primary"><i class="fa fa-undo"></i>&nbsp;Undo</button>
		<button ng-click="redo()" type="button" class="btn btn-sm btn-primary"><i class="fa fa-repeat"></i>&nbsp;Redo</button>
		<button type="button" class="btn btn-sm btn-primary"><i class="fa fa-floppy-o"></i>&nbsp;Save</button>
	</div>
  </div>
