
<div ng-show="currentView == 'CODE_CSS'" id="code-html-layout" style="height:100%;">
  <div ui-codemirror="cmOption" ng-model="cmCssModel" class="codearea" ng-init="cmOption['instance_type']='CODE_CSS';cmOption['readOnly'] = false;cmOption['mode']='css'" ></div>
</div>
