
        <div id="editor-layout" style="height:100%;" align="center">
          <div class="editor_skin">
            <div id="device_iframe_holder"class="actual_device">
              <!--
              <iframe style="" id="device_frame" width="100%" height="100%" src="http://localhost:3000/mobile1.html"> </iframe>
              -->
            </div>
          </div>
        </div>
