
        <div ng-show="currentView == 'CODE_HTML'" id="code-html-layout" style="height:100%;">
          <div ui-codemirror="cmOption" ng-model="cmHtmlModel" class="codearea" ng-init="cmOption['instance_type']='CODE_HTML';cmOption['readOnly'] = false;cmOption['mode']='htmlmixed'" ></div>
        </div>
