
        <div ng-show="currentView == 'CODE_JAVASCRIPT'" id="code-javascript-layout" style="height:100%;">
          <div ui-codemirror="cmOption" ng-model="cmJsModel" class="codearea" ng-init="cmOption['instance_type']='CODE_JAVASCRIPT';cmOption['readOnly'] = false;cmOption['mode']='javascript'"></div>
        </div>
